@font-face {
    font-family: blackPearl;
    src: url(../font/BlackPearl.ttf);
}

@font-face{
    font-family: Tw Cen MT;
    src: url(../font/TCM_____.TTF)
}

#navbarText {
    font-family: blackPearl;
    font-size: 25pt;
    margin: auto;
    position: relative;
    align-content: center;
}

#navbarOrange {
    background-color: #FE9221;
}

body {
    background-color: #F9D19F;
}

#container{
    position: relative;
    top:75px;
}

#titleCatalog{
    font-family: Tw Cen MT;
    font-size: 40px;
    text-align: center;
}

#card{
    margin: auto;
}