/*Fonte usada nas navbar, assim como, fonte do logótipo*/
@font-face {
    font-family: blackPearl;
    src: url(../font/BlackPearl.ttf);
}

/*Fonte usada em vários títulos*/
@font-face {
    font-family: Tw Cen MT B;
    src: url(../font/TCB_____.TTF);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Definição da cor de fundo da página, assim como, a largura e altura da página para ocupar 100% da página*/
body {
    background-color: #F9D19F;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

/*Personalização da navbar definindo a sua cor e colocação de uma sombra*/
.navbar {
    background-color: #FE9221;
    width: 100%;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, .5);
}

/*Configuração do texto presente na navbar*/
#navBarText {
    font-family: blackPearl;
    font-size: 30px;
    margin: auto;
    position: relative;
    text-align: center;
}

/*Colocar o container principal mais para baixo na página para não ficar por trás da navbar*/
#container {
    position: relative;
    top: 120px;
    margin-bottom: 16%;
}

/*Definição das características do título presente no topo da página*/
#titleCatalog {
    font-family: Tw Cen MT B;
    font-size: 30px;
    margin: auto;
    position: relative;
    text-align: center;
}

/*Ajustes nos cards para igualar o design pretendido*/
#card {
    top: 20px;
    margin: auto;
    margin-top: 5%;
    border-radius: 30px;
    width: 250px;
    height: 280px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, .5);
}

/*Ajuste no card encontrado na página que apresenta os detalhes do país*/
#cardDetails {
    float: left;
    border-radius: 30px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, .5);
    width: 500px;
    height: 550px;
}

/*Ajustes no card apresentado no catalogo dentro de um continente, ou seja, parte do catálogo que apresenta
os países*/
#cardCountry {
    margin: auto;
    margin-top: 10%;
    border-radius: 30px;
    width: 250px;
    height: 280px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, .5);
}

/*baixar um pouco o card dos detalhes do país*/
#divCardDetails {
    margin-top: -20px;
}

/*Configuração do texto presente nos cards*/
#cardText {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-align: center;
    color: #707070;
}

/*Configuração das imagens presentes nos cards*/
#imgContinent {
    width: 200px;
    height: 150px;
    margin: auto;
    margin-top: 10%;
    align-items: center;
}

/*Ajustar o tamanho e propriedades da imagem dos cards que apresentam os países*/
#imgCountry {
    width: 200px;
    height: 130px;
    margin: auto;
    margin-top: 10%;
    align-items: center;
    border-radius: 30px;
    border: 1px solid #707070;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, .1);
}

/*Configuração da imagem apresentada na página de detalhes do país*/
#imgCountryDetails {
    width: 300px;
    height: 200px;
    border-radius: 30px;
    border: 1px solid #707070;
    position: relative;
    margin: auto;
    float: right;
    top: 50%;
    margin-top: -100px;
}

/*Configurar a letra do card de detalhes*/
#txtCardDetails {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 21px;
}

#rowDetails {
    margin-top: 120px;
}

/*Alteração da cor de fundo do card e da cor do texto quando o cursor passa por cima (hover)*/
#card:hover,
#cardCountry:hover {
    background-color: #FE9221;
}

/*Remover o sublinhado característico dos links nos cards*/
a.aCard:link {
    text-decoration: none;
}

/*Edição do footer*/
#footer {
    width: 100%;
    background-color: #FE9221;
    position: relative;
    bottom: 0%;
    box-shadow: 2px -4px 8px rgba(0, 0, 0, .5);
}

/*Mudar posicionamento do logo da aplicação para estar dentro da grelha*/
#logoAtlas {
    /* display: block;
    margin: auto; */
    margin-top: 5%;
    /* align-content: center; */
}

/*Configuração do texto presente no footer*/
#footerText {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: black;
    text-align: center;
    /* position: relative; */
    margin-top: 15px;
}

/*Personalizar a linha presente nos cards*/
hr {
    display: block;
    margin: auto;
    margin-top: 10%;
    border-width: 1px;
    border-color: #1BA8BE;
    width: 200px;
    position: relative;
    align-self: center;
}

/*Personalizar o lock encontrado quando o utilizador não tem xp suficiente para ver um continente*/
#lock {
    width: 200px;
    height: 180px;
    position: absolute;
    margin: 12%;
    align-content: center;
    justify-content: center;
}

/*Configuração dos botões do card na página de detalhes*/
#btnOtherCountry {
    width: 150px;
    height: 40px;
    border-radius: 30px;
    margin: auto;
    margin-left: 20%;
}

#btnCommentCountry {
    width: 150px;
    height: 40px;
    border-radius: 30px;
    margin: auto;
    margin-right: 20%;
}

/*Personalização da dropdownlist encontrada para filtrar os países*/
#dropdownMenuButton {
    background-color: white;
    border-radius: 30px;
    /* position: relative; */
    /* margin: auto; */
    margin-bottom: 5px;
    /* width: 230px; */
    height: 35px;
    float: right;
    color: black;
}

/*
.orderArrow{
    width: 15px;
    height: 15px;
    margin-right: 10px;
}*/

/*Personalização do título das páginas dentro dos continentes*/
#continentName {
    top: -20px;
    font-family: Tw Cen MT B;
    font-size: 30px;
    margin: auto;
    position: relative;
    text-align: center;
}

/*Personalização da caixa de texto para procurar por um país*/
#txtSearchCountry {
    border-radius: 30px;
    border-width: 1px;
    border-color: gray;
    margin-bottom: 5px;
    /*width: 230px;*/
}

/*Configuração do botão de procura*/
#btnFilter {
    /* position: relative;
    left: 100px; */
    background-color: #FE9221;
    color: black;
    border-color: #FE9201;
    border-radius: 30px;
}

#btnVoltar {
    background-color: #FE9221;
    color: black;
    border-color: #FE9201;
    border-radius: 30px;
}

#carousel {
    position: relative;
    left: 12%;
}

#imgCarousel {
    height: 400px;
}

.outer1 {
    display: inline-block;
    position: relative;
    align-self: center;
    top: -10px;
    font-family: FontAwesome;
    font-size: 20pt;
}

.outer2 {
    margin-top: 10px;
    display: inline-block;
    position: relative;
    margin-right: 30px;
    font-family: FontAwesome;
    font-size: 20pt;
}

.outer1::before {
    content: "\f006 \f006 \f006 \f006 \f006";
    color: rgba(0, 0, 0, .5)
}

.outer2::before {
    content: "\f006";
    color: rgba(0, 0, 0, .5)
}

.inner1 {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
}

.inner2 {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
}

.inner1::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    color: #f8ce0b;
}

.inner2::before {
    content: "\f005";
    color: #f8ce0b;
}

#iconComments {
    width: 35px;
    height: 35px;
    margin-left: 15px;
}

#idUserComments {
    margin-left: 10px;
    margin-top: 2px;
    font-family: TW Cent MT;
    font-size: 18px;
}

#txtComments {
    margin-left: 55px;
    margin-right: 10px;
    padding: 3px 3px 3px 3px;
}

.md-form {
    margin: 10px;
}

#btnComment {
    position: relative;
    top: -37px;
}

#btnImages {
    width: 150px;
    height: 40px;
    border-radius: 30px;
    margin-top: 10px;
    margin-left: 35%
}

#divCatalog {
    margin-bottom: 50px;
}