/*Fonte usada nas navbar, assim como, fonte do logótipo*/
@font-face {
    font-family: blackPearl;
    src: url(../font/BlackPearl.ttf);
}

/*Fonte usada em vários títulos*/
@font-face {
    font-family: Tw Cen MT B;
    src: url(../font/TCB_____.TTF);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Definição da cor de fundo da página, assim como, a largura e altura da página para ocupar 100% da página*/
body {
    background-color: #F9D19F;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

/*Personalização da navbar definindo a sua cor e colocação de uma sombra*/
.navbar {
    background-color: #FE9221;
    width: 100%;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, .5);
}

#titleCatalog {
    font-family: Tw Cen MT B;
    font-size: 30px;
    position: relative;
    margin-top: 5px;
}


/*Configuração do texto presente na navbar*/
#navBarText {
    font-family: blackPearl;
    font-size: 30px;
    margin: auto;
    position: relative;
    text-align: center;
}

/*Colocar o container principal mais para baixo na página para não ficar por trás da navbar*/
#container {
    position: relative;
    top: 120px;
    margin-bottom: 20%;
}

/*Definição das características do título presente no topo da página*/
#titleCatalog {
    font-family: Tw Cen MT B;
    font-size: 30px;
    margin: auto;
    position: relative;
    text-align: center;
}

/*Edição do footer*/
#footer {
    width: 100%;
    background-color: #FE9221;
    position: relative;
    bottom: -25px;
    box-shadow: 2px -4px 8px rgba(0, 0, 0, .5);
}

/*Mudar posicionamento do logo da aplicação para estar dentro da grelha*/
#logoAtlas {
    margin-top: 5%;
}

/*Configuração do texto presente no footer*/
#footerText {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: black;
    text-align: center;
    /* position: relative; */
    margin-top: 15px;
}

/*Personalizar a linha presente nos cards*/
hr {
    display: block;
    margin: auto;
    margin-top: 10%;
    border-width: 1px;
    border-color: #1BA8BE;
    width: 200px;
    position: relative;
    align-self: center;
}

#cardCountry {
    margin: auto;
    margin-top: 5%;
    border-radius: 30px;
    width: 250px;
    height: 280px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, .5);
}

#imgCountry {
    width: 200px;
    height: 130px;
    margin: auto;
    margin-top: 10%;
    align-items: center;
    border-radius: 30px;
    border: 1px solid #707070;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, .1);
}

#btnVoltar {
    background-color: #FE9221;
    color: black;
    border-color: #FE9201;
    border-radius: 30px;

}

#cardText {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-align: center;
    color: #707070;
}