/*Fonte usada nas navbar, assim como, fonte do logótipo*/
@font-face {
    font-family: blackPearl;
    src: url(../font/BlackPearl.ttf);
}

/*Fonte usada em vários títulos*/
@font-face {
    font-family: Tw Cen MT B;
    src: url(../font/TCB_____.TTF)
}
/*Ajustes nos cards para igualar o design pretendido*/
#login {
    top: 20px;
    margin: auto;
    margin-top: 5%;
    border-radius: 30px;
    width: 344px;
    height: 380px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, .5);
}
#logoAtlasPag{
    position: relative;
    left: 250px;
    top: 50px;
}
/* Botão de criar conta */
#clickBtn{
    width: 150px;
    height: 45px;
    background-color: #C6F5EE;
    color: black;
}
/* botão de login */
#btnlogin{
    margin-top: 10px;
}
#register {
    position: relative;
    top: 20px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, .5);
    width: 320px;
}

#container{
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 1;
}
#logoAtlasPag{
    width: 400px;
    height: "";
    float: right;
}

#imgHome{
    position: absolute;
    top: 0;
    z-index: -1;
}
#logoESMAD{
    bottom: 10%;
}
#atalhos{
    font-size: 20px;
    position: relative;
    left: 20px;
}
#footer {
    background: #3384A2;
    position: fixed;
    bottom: 0%;
    width: 100%;
}

#footer h5 {
    padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    color: #ffffff;
}

#footer a {
    color: #ffffff;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

#footer ul.social li {
    padding: 3px 0;
    white-space: nowrap;
}

#footer ul.social li a i {
    margin-right: 5px;
    font-size: 25px;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}

#footer ul.social li:hover a i {
    font-size: 30px;
    margin-top: -10px;
}

#footer ul.social li a,
#footer ul.quick-links li a {
    color: #ffffff;
}

#footer ul.social li a:hover {
    color: #eeeeee;
}

#footer ul {
    margin: 0%;
}

#footer ul li {
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
    white-space: nowrap;
}

#footer ul.quick-links li:hover {
    padding: 3px 0;
    margin-left: 5px;
    font-weight: 700;
    bottom: 0%;
}

#footer ul.quick-links li a i {
    margin-right: 5px;
}

#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

@media (max-width:767px) {
    #footer h5 {
        padding-left: 0;
        border-left: transparent;
        padding-bottom: 0px;
        margin-bottom: 10px;
    }
}